<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <!-- <link rel="stylesheet" th:href="@{/css/main.css}"/> -->

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/About">About</a>
    <a class="navbar-brand" href="/ContactUs">ContactUs</a>
     
    
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>
    </div>
    

</main>
<!-- /.container -->

	<div class="container-fluid">
	  Online shopping system is the process whereby consumers directly buy goods or services from a seller in real time without an intermediatory service over the internet. It is the form of E-electronic commerce. This project is an attempt to provide the advantages of online shopping to customers of a real shop.
	</div>
	<script type="text/javascript" th:src="@{webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>
